body {
    background-color: #f5f5dd;
}
.square {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 10px;
}
.background-rg { 
    background-color: rgba(0, 0, 0, 1);
}

.background-rg-1 {
    background-color: rgba(0, 0, 0, .7);
}

.background-rg-2 {
    background-color: rgba(0, 0, 0, .4);
}

.background-rg-3 {
    background-color: rgba(0, 0, 0, .1);
} 